<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- Online using Office 365 -->
    <add name="CRMConnectionString" connectionString="Url=https://contoso.crm.dynamics.com; Username=crmadmin@contoso.onmicrosoft.com; Password=password;"/>

    <!-- On-premises with provided user credentials -->
    <!-- <add name="CRMConnectionString"
         connectionString="Url=http://myserver/contoso; Domain=mydomain; Username=administrator; Password=password;"/> -->

    <!-- On-premises using Windows integrated security -->
    <!--<add name="CRMConnectionString"
         connectionString="Url=http://myserver/contoso;"/>-->

    <!-- On-Premises (IFD) with claims -->
    <!--<add name="CRMConnectionString"
         connectionString="Url=https://hostname.contoso.com; Username=crmadmin@contoso.com; Password=password;"/>-->
  </connectionStrings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ServiceBus" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
